$gustan-path: '../node_modules/gustan'!default;

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpthin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlp-thinitalic.eot');
//     src: url('#{$gustan-path}/gustanlp-thinitalic.eot?#iefix') format('embedded-opentype'),
//     url('#{$gustan-path}/gustanlp-thinitalic.woff2') format('woff2'),
//     url('#{$gustan-path}/gustanlp-thinitalic.woff') format('woff');
//     font-weight: 100;
//     font-style: italic;
// }


// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlplight.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlplightitalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpbook.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpbookitalic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;

// }

@font-face {
    font-family: 'gustan';
    src: url('#{$gustan-path}/gustanlp-medium.eot');
    src: url('#{$gustan-path}/gustanlp-medium.eot?#iefix') format('embedded-opentype'),
    url('#{$gustan-path}/gustanlp-medium.woff2') format('woff2'),
    url('#{$gustan-path}/gustanlp-medium.woff') format('woff'),
    url('#{$gustan-path}/gustanlpmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}


// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpmediumitalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;

// }

@font-face {
    font-family: 'gustan';
    src: url('#{$gustan-path}/gustanlp-bold.eot');
    src: url('#{$gustan-path}/gustanlp-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$gustan-path}/gustanlp-bold.woff2') format('woff2'),
    url('#{$gustan-path}/gustanlp-bold.woff') format('woff'),
    url('#{$gustan-path}/gustanlpbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpbolditalic.ttf') format('truetype');
//     font-weight: 700;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpextrabold.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpextrabolditalic.ttf') format('truetype');
//     font-weight: 800;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpblack.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpblackitalic.ttf') format('truetype');
//     font-weight: 900;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpextrablack.ttf') format('truetype');
//     font-weight: 1000;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'gustan';
//     src: url('#{$gustan-path}/gustanlpextrablackitalic.ttf') format('truetype');
//     font-weight: 1000;
//     font-style: italic;
// }








