$icbc-icon-font-path: '../node_modules/icbc-icon-font'!default;

@font-face {
  font-family: 'icbc-icon-font';
  src:  url('#{$icbc-icon-font-path}/fonts/icbc-icon-font.eot');
  src:  url('#{$icbc-icon-font-path}/fonts/icbc-icon-font.eot#iefix') format('embedded-opentype'),
    url('#{$icbc-icon-font-path}/fonts/icbc-icon-font.ttf') format('truetype'),
    url('#{$icbc-icon-font-path}/fonts/icbc-icon-font.woff') format('woff'),
    url('#{$icbc-icon-font-path}/fonts/icbc-icon-font.svg#icbc-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icbc-icon-"], [class*=" icbc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icbc-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icbc-icon-isologo:before {
  content: "\e935";
}
.icbc-icon-isotipo:before {
  content: "\e936";
}
.icbc-icon-onlinebanking:before {
  content: "\e940";
}
.icbc-icon-icbc-perfil:before {
  content: "\e931";
}
.icbc-icon-chevron-left:before {
  content: "\e913";
}
.icbc-icon-chevron-right:before {
  content: "\e914";
}
.icbc-icon-expand-less:before {
  content: "\e926";
}
.icbc-icon-expand-more:before {
  content: "\e927";
}
.icbc-icon-back-circle:before {
  content: "\e990";
}
.icbc-icon-foward-circle:before {
  content: "\e992";
}
.icbc-icon-upward-circle:before {
  content: "\e993";
}
.icbc-icon-downward-circle:before {
  content: "\e991";
}
.icbc-icon-left2:before {
  content: "\e93a";
}
.icbc-icon-right2:before {
  content: "\e948";
}
.icbc-icon-up2:before {
  content: "\e95f";
}
.icbc-icon-down2:before {
  content: "\e91f";
}
.icbc-icon-sort:before {
  content: "\e994";
}
.icbc-icon-sort-asc:before {
  content: "\e995";
}
.icbc-icon-sort-desc:before {
  content: "\e996";
}
.icbc-icon-upward:before {
  content: "\e907";
}
.icbc-icon-out:before {
  content: "\e941";
}
.icbc-icon-in:before {
  content: "\e932";
}
.icbc-icon-download:before {
  content: "\e920";
}
.icbc-icon-upload:before {
  content: "\e960";
}
.icbc-icon-close:before {
  content: "\e916";
}
.icbc-icon-close-circle:before {
  content: "\e917";
}
.icbc-icon-close-circle-fill:before {
  content: "\e918";
}
.icbc-icon-add:before {
  content: "\e901";
}
.icbc-icon-add-circle:before {
  content: "\e902";
}
.icbc-icon-add-circle-fill:before {
  content: "\e903";
}
.icbc-icon-settings-gear:before {
  content: "\e91e";
}
.icbc-icon-add-product:before {
  content: "\e904";
}
.icbc-icon-add-product-filled:before {
  content: "\e905";
}
.icbc-icon-list:before {
  content: "\e93b";
}
.icbc-icon-list-fill:before {
  content: "\e93c";
}
.icbc-icon-sub-menu:before {
  content: "\e956";
}
.icbc-icon-menu:before {
  content: "\e93e";
}
.icbc-icon-user:before {
  content: "\e961";
}
.icbc-icon-user-fill:before {
  content: "\e963";
}
.icbc-icon-alert:before {
  content: "\e906";
}
.icbc-icon-information:before {
  content: "\e933";
}
.icbc-icon-information-triangle:before {
  content: "\e934";
}
.icbc-icon-blocked:before {
  content: "\e90a";
}
.icbc-icon-account:before {
  content: "\e900";
}
.icbc-icon-no:before {
  content: "\e93f";
}
.icbc-icon-baja:before {
  content: "\e909";
}
.icbc-icon-justificado:before {
  content: "\e937";
}
.icbc-icon-check:before {
  content: "\e90f";
}
.icbc-icon-check-circle:before {
  content: "\e910";
}
.icbc-icon-check-circle-fill:before {
  content: "\e911";
}
.icbc-icon-bullet:before {
  content: "\e90b";
}
.icbc-icon-camera-photo:before {
  content: "\e90c";
}
.icbc-icon-clip:before {
  content: "\e915";
}
.icbc-icon-contacts-calendar:before {
  content: "\e91a";
}
.icbc-icon-check-perfil:before {
  content: "\e912";
}
.icbc-icon-conatct:before {
  content: "\e919";
}
.icbc-icon-date-picker:before {
  content: "\e91b";
}
.icbc-icon-calendar:before {
  content: "\e939";
}
.icbc-icon-edit:before {
  content: "\e921";
}
.icbc-icon-efficient-invest:before {
  content: "\e922";
}
.icbc-icon-efficient-invest-fill:before {
  content: "\e923";
}
.icbc-icon-envelope:before {
  content: "\e967";
}
.icbc-icon-envelope-email:before {
  content: "\e924";
}
.icbc-icon-envelope-send:before {
  content: "\e925";
}
.icbc-icon-eye:before {
  content: "\e928";
}
.icbc-icon-eye-close:before {
  content: "\e929";
}
.icbc-icon-favoritos:before {
  content: "\e92a";
}
.icbc-icon-favoritos-fill:before {
  content: "\e9a0";
}
.icbc-icon-filter-funnel:before {
  content: "\e92b";
}
.icbc-icon-filter-mixer:before {
  content: "\e92c";
}
.icbc-icon-help:before {
  content: "\e92e";
}
.icbc-icon-home:before {
  content: "\e92f";
}
.icbc-icon-building-company:before {
  content: "\e947";
}
.icbc-icon-circle-building:before {
  content: "\e99d";
}
.icbc-icon-label:before {
  content: "\e938";
}
.icbc-icon-card:before {
  content: "\e90d";
}
.icbc-icon-products:before {
  content: "\e99e";
}
.icbc-icon-dollar:before {
  content: "\e91c";
}
.icbc-icon-dollar-account:before {
  content: "\e91d";
}
.icbc-icon-fixed-term:before {
  content: "\e92d";
}
.icbc-icon-house-loan:before {
  content: "\e930";
}
.icbc-icon-eficient-wallet:before {
  content: "\e95e";
}
.icbc-icon-investment-schedule:before {
  content: "\e96f";
}
.icbc-icon-loan:before {
  content: "\e93d";
}
.icbc-icon-query-funds:before {
  content: "\e970";
}
.icbc-icon-car-loan:before {
  content: "\e90e";
}
.icbc-icon-payments:before {
  content: "\e943";
}
.icbc-icon-package:before {
  content: "\e942";
}
.icbc-icon-inversiones:before {
  content: "\e968";
}
.icbc-icon-acciones:before {
  content: "\e969";
}
.icbc-icon-investment-test:before {
  content: "\e971";
}
.icbc-icon-cash:before {
  content: "\e98b";
}
.icbc-icon-deposit-cash:before {
  content: "\e98c";
}
.icbc-icon-deposit-check:before {
  content: "\e98d";
}
.icbc-icon-deposit-check-cash:before {
  content: "\e98e";
}
.icbc-icon-plane:before {
  content: "\e944";
}
.icbc-icon-airplane:before {
  content: "\e972";
}
.icbc-icon-print:before {
  content: "\e945";
}
.icbc-icon-question:before {
  content: "\e946";
}
.icbc-icon-saving:before {
  content: "\e949";
}
.icbc-icon-search:before {
  content: "\e94a";
}
.icbc-icon-search-circle:before {
  content: "\e997";
}
.icbc-icon-secure:before {
  content: "\e94b";
}
.icbc-icon-secure1:before {
  content: "\e94c";
}
.icbc-icon-secure9:before {
  content: "\e908";
}
.icbc-icon-secure2:before {
  content: "\e94d";
}
.icbc-icon-secure3:before {
  content: "\e94e";
}
.icbc-icon-secure4:before {
  content: "\e94f";
}
.icbc-icon-secure5:before {
  content: "\e950";
}
.icbc-icon-secure6:before {
  content: "\e951";
}
.icbc-icon-secure7:before {
  content: "\e952";
}
.icbc-icon-secure8:before {
  content: "\e953";
}
.icbc-icon-seguro_integral_de_comercio:before {
  content: "\e954";
}
.icbc-icon-si:before {
  content: "\e955";
}
.icbc-icon-super:before {
  content: "\e957";
}
.icbc-icon-thumb-up:before {
  content: "\e958";
}
.icbc-icon-time:before {
  content: "\e959";
}
.icbc-icon-token:before {
  content: "\e95a";
}
.icbc-icon-mobile-banking:before {
  content: "\e973";
}
.icbc-icon-mobile-phone:before {
  content: "\e974";
}
.icbc-icon-token-disabled:before {
  content: "\e975";
}
.icbc-icon-mobile-money:before {
  content: "\e976";
}
.icbc-icon-transaction:before {
  content: "\e95b";
}
.icbc-icon-transfer:before {
  content: "\e95c";
}
.icbc-icon-trash:before {
  content: "\e95d";
}
.icbc-icon-user-circle:before {
  content: "\e962";
}
.icbc-icon-user-id:before {
  content: "\e964";
}
.icbc-icon-wifi:before {
  content: "\e965";
}
.icbc-icon-wifi-off:before {
  content: "\e966";
}
.icbc-icon-phone:before {
  content: "\e96a";
}
.icbc-icon-file:before {
  content: "\e977";
}
.icbc-icon-file-blank:before {
  content: "\e998";
}
.icbc-icon-file-edit:before {
  content: "\e96b";
}
.icbc-icon-file-ok:before {
  content: "\e96c";
}
.icbc-icon-file-add:before {
  content: "\e96d";
}
.icbc-icon-file-excel:before {
  content: "\e96e";
}
.icbc-icon-file-word:before {
  content: "\e999";
}
.icbc-icon-file-ppt:before {
  content: "\e99a";
}
.icbc-icon-file-pdf:before {
  content: "\e99b";
}
.icbc-icon-file-image:before {
  content: "\e99c";
}
.icbc-icon-dni-finger:before {
  content: "\e978";
}
.icbc-icon-biometrics:before {
  content: "\e979";
}
.icbc-icon-scan-qr:before {
  content: "\e97a";
}
.icbc-icon-keys:before {
  content: "\e98f";
}
.icbc-icon-key-temporary:before {
  content: "\e9aa";
}
.icbc-icon-token-security:before {
  content: "\e97b";
}
.icbc-icon-modo:before {
  content: "\e99f";
}
.icbc-icon-facebook:before {
  content: "\e97c";
}
.icbc-icon-twitter:before {
  content: "\e97d";
}
.icbc-icon-youtube:before {
  content: "\e97e";
}
.icbc-icon-instagram:before {
  content: "\e97f";
}
.icbc-icon-shared:before {
  content: "\e980";
}
.icbc-icon-share:before {
  content: "\e981";
}
.icbc-icon-marker-domicilio:before {
  content: "\e982";
}
.icbc-icon-send-message:before {
  content: "\e9a1";
}
.icbc-icon-minimize:before {
  content: "\e9ac";
}
.icbc-icon-geo:before {
  content: "\e983";
}
.icbc-icon-geo-company:before {
  content: "\e984";
}
.icbc-icon-geo-company-fill:before {
  content: "\e985";
}
.icbc-icon-geo-fill:before {
  content: "\e986";
}
.icbc-icon-marker-domicilio-fill:before {
  content: "\e987";
}
.icbc-icon-map-marker:before {
  content: "\e988";
}
.icbc-icon-club:before {
  content: "\e989";
}
.icbc-icon-mall:before {
  content: "\e9ab";
}
.icbc-icon-online-shopping:before {
  content: "\e98a";
}
.icbc-icon-ask-for:before {
  content: "\e9a2";
}
.icbc-icon-send-cash:before {
  content: "\e9a3";
}
.icbc-icon-pay:before {
  content: "\e9a4";
}
.icbc-icon-fun:before {
  content: "\e9a5";
}
.icbc-icon-loan-request:before {
  content: "\e9a6";
}
.icbc-icon-restaurant:before {
  content: "\e9a7";
}
.icbc-icon-shopping:before {
  content: "\e9a8";
}
.icbc-icon-various:before {
  content: "\e9a9";
}
